body {
  background-color: rgb(0, 49, 0);
  background: linear-gradient(to bottom, rgb(0, 49, 0), rgb(65, 65, 65));
  /* color: white;
  font-family: Georgia, serif; */

  margin: 0;
  padding: 0;
}

hr {
  color: rgb(197, 197, 197);
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.seller_background {
  width: 100%;
  /* height: 100%;  */
  max-width: 1000px; 

  padding: 10px;
  margin: 20px;

  background-image: url("./IMG_2124.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* background-attachment: fixed; */
  aspect-ratio: 15/10;
  /* background-color: rgb(0, 49, 0); */

  text-align: center;
  font-family: Georgia, serif;
  color: white;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  position:relative;
  /* https://stackoverflow.com/questions/52472285/how-to-put-a-background-image-behind-div */
  /* https://forum.freecodecamp.org/t/place-an-img-behind-a-signup-div/266285 */

}

.character_bubble_container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position:relative;
  z-index: 1;
}

.seller_image {
  /* width: auto;
  height: auto; */
  /* max-width: 1000px; 
  max-height: 1000px;  */
  padding: 10px;
  margin: 20px;
  /* background-color: rgb(0, 49, 0); */
}

.seller_bubble {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.dialogue_box {
  /* background-color: #8d272f;
  border: white 10px solid;
  border-radius: 10px;
  font-size: 20px; */

  /* width: 1000px; */

  text-align: center;
  color: white;
  margin: 5px;
  padding: 5px;

  position: absolute;
  bottom: 0px;
  /* margin-top: auto; */
  z-index: 2;

  /* float: left; */
}

.seller_name {
  background-color: #8d272f;
  border: white 10px solid;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.seller_text {
  background:none;
  border:none;

  background-color: #8d272f;
  border: white 10px solid;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
  padding: 10px;

  width: 100%;
  /* overflow: hidden; */
  /* max-width: 1000px;  */
  /* box-sizing: border-box; */
}

/* .seller_text span:hover {
  font-weight: bold;
  text-decoration: underline;
} */


button.link {
  background:none;
  border:none;
  color: white;
  font-size: 20px;
  font-family: Georgia, serif
}

button.link:hover {
  font-weight: bold;
}



.blaeck-box {
  position: relativ;
  z-index: 1;
  border: 2px solid black;
  height: 400px;
  margin: 30px;
}